.footer {
    padding: 7rem 0;
    background-color: var(--clr-dark);
    color: white;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        gap: 2rem;
    }

    // footer logo-box
    &__logo {
        margin-bottom: 1rem;
    }

    &__desc {
        color: var(--clr-light-grey);
        line-height: 1.8;
    }

    // footer link-box
    &__title {
        font-size: 2rem;
        margin-bottom: 1rem
    }

    &__link-item+&__link-item {
        margin-top: 1rem;
    }

    &__link {
        color: var(--clr-light-grey);
        position: relative;
        transition: all .3s ease-in-out;

        &:hover,
        &:focus {
            color: var(--clr-primary);
            transform: scale(1.2);
            transform: translateX(2rem);

            &::before {
                content: '';
                width: 0px;
                height: 2px;
                background-color: rgb(167, 27, 206);
                position: absolute;
                left: -20px;
                top: 12px;
                animation: footer .2s forwards;
            }
        }
    }

    // footer social-box
    &__subscribe {
        display: flex;
        margin-bottom: 2rem;
    }

    &__input {
        color: white;
        width: 100%;
        padding: 1rem 1.5rem;
        background-color: transparent;
        border: none;
        box-shadow: inset 0 0 0 1px var(--clr-dark-grey);
        border-radius: 1rem 0 0 1rem;
        &:focus {
            outline: 0;
            box-shadow: inset 0 0 0 1px var(--clr-primary);
        }
    }

    &__btn {
        border-radius: 0 1rem 1rem 0;
        padding: 1rem 1.5rem;
    }

    &__social-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        gap: 1rem;
        justify-items: center;
    }

    &__social-link {
        color: white;
        background-color: var(--clr-dark-grey);
        border-radius: .5rem;
        transition: all .3s ease-in-out;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;

        &:hover,
        &:focus {
            transform: rotate(360deg);
            background-color: var(--clr-primary);
        }
    }
}


@keyframes footer {
    from {
        width: 0;
    }

    to {
        width: 10px;
    }
}

@media (max-width: 955PX ) {
    .footer__wrapper {
        justify-items: start;
    }
}

@media (max-width: 712px) {
    .footer__wrapper {
        padding: 0 2rem;
    }
}