.hero {
    position: relative;
    color: white;
    background-image: url(../../assets/ProfilePage/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10rem;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);
    }

    &__wrapper {
        display: grid;
        place-content: center;
        place-items: center;
        min-height: 40vh;
        gap: 1.5rem;
        position: relative;
        z-index: 2;
    }

    &__title {
        font-size: 4rem;
        text-transform: capitalize;
    }
}



.profile {
    padding: 7rem 0;
    background-color: var(--clr-secondary);

    &__wrapper {
        display: grid;
        grid-template-columns: 300px 1fr;
        align-items: flex-start;
        gap: 3rem;
    }

    &-card {
        width: 300px;
        padding: 2rem;
        background-color: var(--clr-dark-grey);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__img {
            border-radius: 1rem;
        }
    }

    &-form {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
        color: #fff;
        padding: 2rem 0;

        &__cover {
            grid-column: 1 / -1;

            &-title {
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            &-items {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 1rem;

            }

            &-item {
                width: 100%;
                height: 100px;
                border: 4px solid rgb(133, 5, 144);
                border-radius: 1rem;
            }

            &-item--uploader {
                display: grid;
                place-content: center;
                border: 1px solid var(--clr-light-grey);
            }
        }



        &__info {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &-title {
                font-size: 2rem;
            }

            &-label {
                display: block;
                margin-bottom: 1rem;
            }

            &-input {
                padding: .7rem 1rem;
                background-color: transparent;
                border-radius: .7rem;
                border: none;
                box-shadow: inset 0 0 0 1px var(--clr-dark-grey);
                color: white;
                width: 100%;
                &:focus {
                    outline: 0;
                    box-shadow: inset 0 0 0 1px var(--clr-primary);


                }
            }

        }



        &__social {
            @extend .profile-form__info;

            &-title {
                @extend .profile-form__info-title;
            }

            &-label {
                @extend .profile-form__info-label;
            }

            &-input {
                @extend .profile-form__info-input;
            }

            &-btn {
                margin-top: 1.5rem;
            }

        }

        &__update-btn {
            grid-column: 1 / -1;
        }

    }

}

@media (max-width: 850px) {
    .profile__wrapper {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .profile-card {
        margin: 0 auto;
    }
}

