.footer {
    padding: 7rem 0;
    background-color: var(--clr-dark);
    color: white;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

/* Footer__logo-box */

.footer__logo {
    margin-bottom: 1rem;
}

.footer__desc {
    color: var(--clr-light-grey);
    line-height: 1.8;
}

/* Footer__link-box */

.footer__title {
    font-size: 2rem;
    margin-bottom: 1rem
}

.footer__link-item + .footer__link-item {
    margin-top: 1rem;
}


.footer__link {
    color: var(--clr-light-grey);
    position: relative;
    transition: all .3s ease-in-out;
}


.footer__link:hover,
.footer__link:focus {
    color: var(--clr-primary);
    transform: scale(1.2);
    transform: translateX(2rem);
}


.footer__link:hover::before {
    content: '';
    width: 0px;
    height: 2px;
    background-color: rgb(167, 27, 206);
    position: absolute;
    left: -20px;
    top: 12px;
    animation: footer .2s forwards;
}

@keyframes footer {
    from {width: 0;}
    to {width: 10px;}
  }




.social-media__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 1rem;
    justify-items: center;
}


.social-media__link {
    color: white;
    padding: 1rem;
    background-color: var(--clr-dark-grey);
    border-radius: .5rem;
    transition: all .3s ease-in-out;
}

.social-media__link:hover,
.social-media__link:focus {
    transform: rotate(360deg);
    background-color: var(--clr-primary);
}

.footer__input {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0 1px var(--clr-dark-grey);
    border-radius: 1rem 0 0 1rem;
}

.footer__btn {
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1.5rem;
}

.footer__subscribe {
    display: flex;
    margin-bottom: 2rem;
}