
.hero {
    position: relative;
    color: white;
    background-image: url(../assets/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10rem;
}

.hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}


.hero__wrapper {
    display: grid;
    place-content: center;
    place-items: center;
    min-height: 40vh;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
}

.hero__title {
    font-size: 4rem;
    text-transform: capitalize;
}
