@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/**********
    RESET
***********/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #4C43F5;
    --clr-secondary: #1A1A24;
    --clr-dark: #151519;
    --clr-dark-grey: #373745;
    --clr-light-grey: rgb(175, 175, 175);
}

html {
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/***********
  UTILITIES
************/

/* General */

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

/***********
 COMPONENTS
************/

/* Btn */

.btn {
    color: white;
    padding: .7em 2em;
    border: none;
    box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 10rem;
    white-space: nowrap;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    font-weight: bold;
    display: block;
}

.btn:hover,
.btn:focus {
    color: black;
    background-color: white;
    box-shadow: none;
    
}



.btn--primary {
    background-color: var(--clr-primary);
    box-shadow: none;
}

.btn--primary:hover,
.btn--primary:focus {
    box-shadow: inset 0px 0px 0px 2px var(--clr-primary);
    color: white;
    background-color: transparent;
}



/* Path */

.path {
    display: flex;
}

.path__item + .path__item::before {
    content: '/';
    margin: 0 .5rem;
    color: var(--clr-light-grey);
}


.path__link {
    text-transform: capitalize;
    color: var(--clr-light-grey);
    transition: all .2s ease-in-out;
}


.path__link--active {
    color: white;
}


.path__link:hover,
.path__link:focus {
    color: white;
}