.profile {
    padding: 7rem 0;
    background-color: var(--clr-secondary);
}

.profile__wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: flex-start;
    gap: 3rem;
}

.profile-card {
    width: 300px;
    padding: 2rem;
    background-color: var(--clr-dark-grey);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profile-card__img {
    border-radius: 1rem;
}

.profile-form {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    color: #fff;
    padding: 2rem 0;
}

.cover {
    grid-column: 1 / -1;
}

.cover__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.cover__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

}

.cover__item {
    width: 100%;
    height: 100px;
    border: 4px solid rgb(133, 5, 144);
    border-radius: 1rem;
}


.cover__item--uploader {
    display: grid;
    place-content: center;
    border: 1px solid var(--clr-light-grey);
}

.info,
.social {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info__title,
.social__title {
    font-size: 2rem;
}

.info label,
.social label {
    display: block;
    margin-bottom: 1rem;
}

.info__input {
    padding: .7rem 1rem;
    background-color: transparent;
    border-radius: .7rem;
    border: none;
    box-shadow: inset 0 0 0 1px var(--clr-dark-grey);
    color: white;
    width: 100%;
}



.btn--social {
    margin-top: 1.5rem;
}

.btn--update {
    grid-column: 1 / -1;
}



@media (max-width: 850px) {
    .profile__wrapper {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .profile-card {
        margin: 0 auto;
    }

}